.header__upper {
  display:flex;
  flex-direction: row;

}
.theme-switcher {
  font-weight: 900;
  cursor: pointer;
  margin: 10px 0 10px auto;
  display: flex;
  user-select: none;
  background: darkcyan;
  width: 140px;
  padding: 4px;
}
.theme-switcher:hover {
  color: darkcyan;
  background: black;
}
.dark .theme-switcher:hover {
  color: darkcyan;
  background: white;
}


.theme-switcher__hr {
  flex-grow: 1;
  border: none;
  border-bottom: 2px solid;
  margin: auto 4px;
  box-sizing: border-box;
}