@import "../../mixins";

.contact {
  max-width: 600px;
  margin: 40px auto;
  @include for-tablet-landscape-up {
    margin: 60px auto;
  }
  display: flex;
  flex-direction: column;
}

.contact__header {
  font-size: 48px;
  font-weight: 900;
}
.contact__paragraph {
  font-size: 24px;
  line-height: 1.4em;
  font-weight: 700;
}
.href-text {
  color: darkcyan;
  text-decoration: none;
  border-bottom: solid 1px;
  box-sizing: border-box;
}

.href-text:hover {
  color: crimson;
}