@import "../../mixins";

.main {
  width: 100%;
  max-width: 1280px;
  margin: 40px auto;
  @include for-tablet-landscape-up {
    margin: 60px auto;
  }
}

.section {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  @include for-tablet-landscape-up {
    padding: 0 60px;
  }
}

.contact__header {
  @include font('h2');
  font-weight: 900;
}

.paragraph_text {
  @include font('h6');
  line-height: 1.4em;
  font-weight: 700;
}

.form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 260px));
  grid-gap: 40px;
}

.form__header {
  @include font('h3');
  font-weight: 900;
}

.form__element {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form__element_new-row {
  grid-column-start: 1;
}

.form__element_2col {
  @include for-tablet-portrait-up {
    grid-column-end: span 2;
  }
}

.href_text {
  color: $color-link;
  text-decoration: none;
  border-bottom: solid 1px;
  box-sizing: border-box;
}

.href_text:hover {
  color: $color-link-hover;
}