@import "../../mixins";

.menu-item {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transition: margin-left 1s ease-in-out;
  justify-content: left;
  text-decoration: none;
}
.menu-item:hover {
  justify-content: center;
  transition: justify-content 1s ease-in-out;
}
.menu-item:hover > .menu-item__text:nth-child(1) {
  color: darkcyan;
}
.menu-item:hover > .menu-item__text:nth-child(4) {
  color: black;
}
.dark .menu-item:hover > .menu-item__text:nth-child(4) {
  color: white;
}

.menu-item.active:hover > .menu-item__text:nth-child(4),
.dark .menu-item.active:hover > .menu-item__text:nth-child(4),
.menu-item:active > .menu-item__text:nth-child(4),
.menu-item.active > .menu-item__text:nth-child(1) {
  color: crimson;
}

.menu-item__text {
  position: relative;
  margin: 0 0;
  font-size: 8vw;
  @include for-desktop-up {
    font-size: 6vw;
  }
  text-transform: uppercase;
  font-weight: 900;
  color: darkcyan;
}
.menu-item__text:nth-child(1) {
  color: black;
}
.dark .menu-item__text:nth-child(1) {
  color: white;
}