@import "../../mixins";

.header__menu {
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: $color-light;
  flex-grow: 1;
}
.dark .header__menu {
  background-color: $color-dark;
}