@import "../../mixins";

.header-menu__wrapper {
  position: relative;
  left:0;
  transition: left .5s ease-in-out;
}
.header-menu__wrapper:hover {
  left:50%;
}

.menu-item {
  position: relative;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  transition: transform .5s ease-in-out;
  width: fit-content;
}
.menu-item:hover {
  transform: translateX(-50%);
}

.menu-item:hover > .menu-item__text:nth-child(1) {
  color: $color-link;
}
.menu-item:hover > .menu-item__text:nth-child(6) {
  color: $color-dark;
}
.dark .menu-item:hover > .menu-item__text:nth-child(6) {
  color: $color-light;
}

.menu-item.active:hover > .menu-item__text:nth-child(6),
.dark .menu-item.active:hover > .menu-item__text:nth-child(6),
.menu-item:active > .menu-item__text:nth-child(6),
.menu-item.active > .menu-item__text:nth-child(1) {
  color: $color-link-hover;
}

.menu-item__text {
  position: relative;
  margin: 0 0;
  @include font('bigmenu');
  text-transform: uppercase;
  font-weight: 900;
  color: $color-link;
  transition: all .3s;
}
.menu-item__text:nth-child(1) {
  color: $color-dark;
}
.dark .menu-item__text:nth-child(1) {
  color: $color-light;
}