@import "../../mixins";

.menu-item {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transition: margin-left 1s ease-in-out;
  justify-content: left;
  text-decoration: none;
}
.menu-item:hover {
  justify-content: center;
  transition: justify-content 1s ease-in-out;
}
.menu-item:hover > .menu-item__text:nth-child(1) {
  color: $color-link;
}
.menu-item:hover > .menu-item__text:nth-child(8) {
  color: $color-dark;
}
.dark .menu-item:hover > .menu-item__text:nth-child(8) {
  color: $color-light;
}

.menu-item.active:hover > .menu-item__text:nth-child(8),
.dark .menu-item.active:hover > .menu-item__text:nth-child(8),
.menu-item:active > .menu-item__text:nth-child(8),
.menu-item.active > .menu-item__text:nth-child(1) {
  color: $color-link-hover;
}

.menu-item__text {
  position: relative;
  margin: 0 0;
  @include font('bigmenu');
  text-transform: uppercase;
  font-weight: 900;
  color: $color-link;
}
.menu-item__text:nth-child(1) {
  color: $color-dark;
}
.dark .menu-item__text:nth-child(1) {
  color: $color-light;
}